.users-csr-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.users-csr-list > .user-data {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.users-csr-list > .user-data > .name .city {
    color: gray;
}